<h1>Basic Jobsite</h1>

<p>Search
<%= form_tag "/search", :method => :get, "data-remote" => "true", :id => "job-search" do %>
<%= text_field_tag :q %>
<%= label_tag 'entrepenural_score' %>
<%= select_tag 'entrepenural_score', options_for_select((1..5)) %>
<%= label_tag 'exotic_score' %>
<%= select_tag 'exotic_score', options_for_select((1..5)) %>
<%= label_tag 'financial_score' %>
<%= select_tag 'financial_score', options_for_select((1..5)) %>
<%= label_tag 'social_score' %>
<%= select_tag 'social_score', options_for_select((1..5)) %>
<% end %>
</p>
<hr />
<ul id='jobs'>
<%= render @listings %>
</ul>

<script id="listings-template" type="text/x-handlebars-template">
  {{#each listings}}

  <li>

   <a href="/listings/{{_id}}">{{title}}</a> <br/>

   {{position }} - {{ company }} ({{ city }}, {{ country }})

  </li>
  {{/each}}
</script>
