<!DOCTYPE html>
<html>
<head>
  <title>Jobsite</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

  <div id="container">
    <header>
    <ul>
    <li><%= link_to "Home", root_path %>
    
    <% if user_signed_in? -%>
    <li><%= current_user %> </li>
    <li>post a job</li>
    <li><%= link_to "Sign Out", destroy_user_session_path %></li>
    <% elsif admin_signed_in? -%>

    <li>moderate a job</li>
    <li><%= link_to "Sign Out", destroy_admin_session_path %></li>
    <% else -%>

    <li><%= link_to "Sign Up", new_user_registration_path %></li>
    <li><%= link_to "Sign In", new_user_session_path %></li>     
    <% end -%>
    </ul>
    </header>
    
    <div id="main">
    <%= yield %>
    </div>
    
    <footer>

    </footer>
  </div> <!--! end of #container -->



</body>
</html>
